<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">Front End Code Sample</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/home#learn" class="nav-link">What I Learned</a>
          </li>
          <li class="nav-item">
            <a href="/home#faqs" class="nav-link">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="/home#friends" class="nav-link">My Friends</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="video-background">
    <div class="video-wrap">
      <div id="video">
        <video id="bgvid" playsinline autoplay muted loop>
          <source src="assets/ocean-loop.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <div class="caption text-center">
    <h1>HELLO, WOWHEAD!</h1>
    <h2>Thanks for viewing my code</h2>
    <a class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#get-started">GET STARTED</a>
  </div>

<!-- Showcase Area -->

  <section id="showcase" class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-item-center justify-content-between">
        <div>
          <h1>Am I a <span class="salmon">FrontEnd Developer</span>?</h1>
          <p class="lead">
            My technical skill set includes HTML/CSS and object-oriented design, always considering the best SEO practices when building websites from scratch. I have an excellent working knowledge of JavaScript libraries, PHP, Bootstrap/Angular frameworks, MySQL, and database building. When it comes to new technologies, it is my inherent nature to be curious and keep learning to improve my knowledge to expand my skill set.
          </p>
          <button class="btn accent-btn btn-lg">Yes I'm Sure</button>
        </div>
        <img class="img-fluid w-25 d-none d-sm-block" src="./assets/codergirl.svg" alt="code girl">
      </div>
    </div>
  </section>

  <!-- Newsletter Area -->
  <section id="newsletter" class="bg-primary text-light p-5">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-md-0">Sign Up For My Newsletter</h3>
        <div class="input-group news-input">
          <input 
            type="text" 
            class="form-control"
            placeholder="Enter Email" 
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button 
            class="btn btn-light btn-lg accent-btn" 
            type="button"
            >
            Submit
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA Boxes -->
  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <h3 class="card-title mb-3">Projects</h3>
              <p class="card-text">
                I was a front-end developer for Disney Infinity and Marvel XP Facebook app. I also worked on Family Guy Online and Animal Jam.
              </p>
              <a href="#" class="btn accent-btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-secondary text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-person-square"></i>
              </div>
              <h3 class="card-title mb-3">Remote</h3>
              <p class="card-text">
                Even though I have a home base in California, I like to travel and work remotely.  My laptop goes everywhere I go.
              </p>
              <a href="#" class="btn btn-dark">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <h3 class="card-title mb-3">Fun Facts</h3>
              <p class="card-text">
                I was born during the Year of the Monkey and that makes me a natural problem solver on top of being eternally curious.
              </p>
              <a href="#" class="btn accent-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Learn Sections -->
  <section id="learn" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="./assets/fundamentals.svg" class="img-fluid" alt="fundamentals">
        </div>
        <div class="col-md p-5">
          <h2>
            Learning The Fundamentals
          </h2>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto inventore, quasi impedit laudantium similique ipsam?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis magni quidem quia quam illum, laudantium quisquam excepturi saepe nihil cumque vel minima consectetur, illo, assumenda laboriosam voluptatem ex expedita unde!
          </p>
          <a href="" class="btn btn-light-mt-3">
            <i class="bi bi-chevron-right"></i> Read More
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5 bg-dark text-light">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <h2>
            Learn How to Code or Fish
          </h2>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto inventore, quasi impedit laudantium similique ipsam?
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis magni quidem quia quam illum, laudantium quisquam excepturi saepe nihil cumque vel minima consectetur, illo, assumenda laboriosam voluptatem ex expedita unde!
          </p>
          <a href="#" class="btn btn-light mt-3">
            <i class="bi bi-chevron-right"></i> Read More
          </a>
        </div>
        <div class="col-md">
          <img src="./assets/react.svg" class="img-fluid" alt="react">
        </div>
      </div>
    </div>
  </section>

  <!-- FAQs Accordion -->
  <section id="faqs" class="p-5">
    <div class="container">
      <h2 class="text-center mb-4">Frequently Asked Questions</h2>
      <div class="accordion accordion-flush" id="questions">
        <!-- Item 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#question-one"
            >
              Where exactly am I located?
            </button>
          </h2>
          <div
            id="question-one"
            class="accordion-collapse collapse"
            data-bs-parent="#questions"
          >
            <div class="accordion-body">
              I am located in the mountains of Chiapas, Mexico. That is three hours away from the Guatemala border. It's not the kind of Mexico that is usually portrayed in the movies. It rains for 8 months of the year. There are only 2 seasons: rainy and dry.
            </div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#question-two"
            >
              Are you able to work remotely?
            </button>
          </h2>
          <div
            id="question-two"
            class="accordion-collapse collapse"
            data-bs-parent="#questions"
          >
            <div class="accordion-body">
              Yes I have been working remotely for a very long time. I have a nice office and my desk is outfitted with my cat's bed so he can hang out with me while I work.
            </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#question-three"
            >
              How much sleep do you get?
            </button>
          </h2>
          <div
            id="question-three"
            class="accordion-collapse collapse"
            data-bs-parent="#questions"
          >
            <div class="accordion-body">
              I only need about 7 hours of sleep.
            </div>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#question-four"
            >
              Can I visit you?
            </button>
          </h2>
          <div
            id="question-four"
            class="accordion-collapse collapse"
            data-bs-parent="#questions"
          >
            <div class="accordion-body">
              Yes of course. It's a 6-hour flight from Los Angeles. But beware, many people get "Montezuma's Revenge.""
            </div>
          </div>
        </div>
        <!-- Item 5 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#question-five"
            >
              Do I want to be hired?
            </button>
          </h2>
          <div
            id="question-five"
            class="accordion-collapse collapse"
            data-bs-parent="#questions"
          >
            <div class="accordion-body">
              I am excited at the prospect of being hired by Wowhead!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Friends Area -->
  <section id="friends" class="p-5 bg-primary">
    <div class="container">
      <h2 class="text-center text-white">My Friends</h2>
      <p class="lead text-center text-white mb-5">
        This is an example of using cards for Bootstrap with random people that I call friends. 
      </p>
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
              <h3 class="card-title mb-3">John Doe</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis nihil, molestiae quam officiis aliquam eaque.</p>
              <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-instagram text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/women/8.jpg" class="rounded-circle mb-3" alt="">
              <h3 class="card-title mb-3">Tamil Raj</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis nihil, molestiae quam officiis aliquam eaque.</p>
              <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-instagram text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3" alt="">
              <h3 class="card-title mb-3">Jen Thomas</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis nihil, molestiae quam officiis aliquam eaque.</p>
              <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-instagram text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/men/6.jpg" class="rounded-circle mb-3" alt="">
              <h3 class="card-title mb-3">Roger Ruiz</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis nihil, molestiae quam officiis aliquam eaque.</p>
              <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
              <a href=""><i class="bi bi-instagram text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact and Map -->
  <section class="p-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md">
          <h2 class="text-center mb-4">Contact Info</h2>
          <ul class="list-group list-group-flush lead">
            <li class="list-group-item">
              <span class="fw-bold">Name:</span> Dyan Janito
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Email:</span> dyan@me.com
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Phone:</span> (949) 791-7771
            </li>
          </ul>
        </div>
        <div class="col-md">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </section>

 
